<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>vezbe7</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SesijaServlet</display-name>
    <servlet-name>SesijaServlet</servlet-name>
    <servlet-class>com.rt.rk.ftn.tims.SesijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SesijaServlet</servlet-name>
    <url-pattern>/SesijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.rt.rk.ftn.tims.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/uloguj-se</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajUKorpuServlet</display-name>
    <servlet-name>DodajUKorpuServlet</servlet-name>
    <servlet-class>com.rt.rk.ftn.tims.DodajUKorpuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajUKorpuServlet</servlet-name>
    <url-pattern>/dodaj-u-korpu</url-pattern>
  </servlet-mapping>
</web-app>